<div class="home">
  <div class="intro">
    <h1>tube<span class="navbar-brand-part2">FM</span></h1>
    <h3>Turn Your Favorite Youtube Channels</h3>
    <h3>Into Personal Radio Station</h3>
  </div>
  <div class="discover">
    <div class="recommendTag"><h2>Recommended Channels</h2></div>
    <ul id="recommendedChannel">
      <li class="channelItem"><%= link_to image_tag('majesticcasual2.jpg'), "#", data: { channel: 'majesticcasual'} %></li>
      <li class="channelItem"><%= link_to image_tag('mrsuicidesheep.jpg'), "#", data: { channel: 'MrSuicideSheep'} %></li>
      <li class="channelItem"><%= link_to image_tag('etonmessy.jpg'), "#", data: { channel: 'Etonmessy'} %></li>
      <li class="channelItem"><%= link_to image_tag('thesoundyouneed1.jpg'), "#", data: { channel: 'thesoundyouneed1'} %></li>
      <li class="channelItem"><%= link_to image_tag('themusicbouncer.jpg'), "#", data: { channel: 'TheMusicBouncer'} %></li>
      <li class="channelItem"><%= link_to image_tag('thvbgd.jpg'), "#", data: { channel: 'thvbgd'} %></li>
      <li class="channelItem"><%= link_to image_tag('suicidesheeep.jpg'), "#", data: { channel: 'SuicideSheeep'} %></li>
      <li class="channelItem"><%= link_to image_tag('electropose12.jpg'), "#", data: { channel: 'electropose1'} %></li>
    </ul>
  </div>
</div>