<%= render 'layouts/header' %>
<%= render 'layouts/nav' %>

<div id="master">
  <div id="player">
    <%= yield %>
  </div>
  <div id="search">
    <%= render 'layouts/search' %>
  </div>
  <div id="misc">
    <%= render 'layouts/misc' %>
  </div>
</div>

<%= render 'layouts/footer' %>
<%= render 'templates/playercontrol' %>