<%= render 'layouts/header' %>
<%= render 'layouts/nav' %>

<div id="sidebar">
  <%= render 'layouts/sidebar' %>
</div>
<div id="main">
  <%= yield %>
</div>

<%= render 'modals/login' %>
<%= render 'modals/signup' %>
<%= render 'modals/profile' %>

<%= render 'layouts/footer' %>